.guiderWrapper {
  position: fixed;
  z-index: 1000;
  margin-top: .5rem;
  width: min(100% - 2rem, 87.5rem);
  max-width: 87.5rem;
  background-color: var(--gray);
  height: .5rem;
  border-radius: 2rem;
}

.guiderContent {
  display: block;
  height: 100%;
  background-color: var(--black);
  border-radius: 2rem;
}

.nav {
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 2rem;
  position: relative;
}

.logo {
  font-size: 1.25rem;
  font-family: 'GeistExtra', sans-serif;
  display: flex;
  gap: 0.625rem;
  align-items: center
}

.logoDec {
  display: block;
  width: 1.25rem;
  height: 1.25rem;
  border-radius: 50%;
  background-color: var(--black);
}

.menuLinks {
  z-index: 1000;
  display: flex;
  gap: 4rem;
}

.menuLinks li a {
  font-size: 1.25rem;
  transition: color 0.3s ease;
  position: relative;
}

.menuLinks li a:hover {
  color: var(--darker-gray);
}

.menuLinks li a::before {
  content: '';
  display: block;
  position: absolute;
  background: var(--white);
  width: 0;
  height: 1rem;
  left: -20px;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 50%;
  transition: width 0.3s, background-color 0.3s ease;
}

.menuLinks li a:hover {
  color: var(--darker-gray);
}

.menuLinks li a:hover::before {
  background: var(--darker-gray);
  width: 1rem;
}

.btnMenu {
  display: none;
  border: none;
  background-color: transparent;
  cursor: pointer;
  flex-direction: column;
  gap: .25rem;
}

.btnMenu span {
  display: block;
  border-radius: 1.25rem;
  width: 2rem;
  height: .25rem;
  background-color: var(--black);
  transition: transform 0.3s ease, opacity 0.3s ease, top 0.3s ease;
}

.btnMenu.active span:nth-child(1) {
  transform: rotate(45deg);
  position: relative;
  top: 0.5rem;
}

.btnMenu.active span:nth-child(2) {
  opacity: 0;
}

.btnMenu.active span:nth-child(3) {
  transform: rotate(-45deg);
  position: relative;
  top: -0.5rem;
}

@media (max-width: 64rem) {
  .btnMenu {
    display: flex;
  }

  .menuLinks {
    visibility: hidden;
    opacity: 0;
    transform: translateY(-10px);
    transition: opacity 0.3s ease, transform 0.3s ease, visibility 0s 0.3s; 
    position: absolute;
    top: 80px;
    right: 0px;
    width: 200px;
    border-radius: 8px;
    box-shadow: 0 0 0.1rem var(--gray);
    padding: 2rem;
    flex-direction: column;
    gap: 2rem;
  }

  .menuLinks.active {
    z-index: 1000;
    visibility: visible;
    background: var(--white);
    opacity: 1;
    transform: translateY(0);
    transition: opacity 0.3s ease, transform 0.3s ease;
  }
}

@media (max-width: 48rem) {
  .logo {
    font-size: 1rem;
  }

  .menuLinks li a {
    font-size: 1rem;
  }
}