.containerDesings {
  padding-block: 3rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2.5rem;
}

.imageCotainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: min(100%, 27.5rem);
  height:36.75rem;
  border-radius: .5rem;
  background: var(--light-gray);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.imageCotainer img  {
  object-fit:contain;
  width: 20rem;
  height: 30rem;
}

